@import 'header.scss';
@import 'main.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1c1c1c;   
    color: white;
    font-family: 'Dosis', sans-serif;

    
}

.center{

        width: 80%;
        margin: auto;
}