
    header {
        
        ul li{
            list-style: none;
            display: inline-block;
        }

        .center{
            width: 80%;
            background-color: yellow;
            margin: auto;
        }

    }