
    header {

        background-color: #ffffff;
        color: #1c1c1c;
        
        ul li{
            list-style: none;
            display: inline-block;
            padding-right: 10px;

            img {
                width: auto;
                height: 80px;
           }

        }


    }

    footer{
        background-color: black;

    }