main{
    .jumbo{
        background-image:  url('/storage/images/jumbotron.jpg');
        height: 100px;
        background-size: cover;
    }

    ul {

         display: flex;
         justify-content: space-around;
         flex-wrap: wrap;

            li {
                list-style:none;  

                div.card{
  
                    background-color: blueviolet;

                        div img{
                            height: 200px;
                        }
                    
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
                
            }
    } 
   
}
