header {
  background-color: #ffffff;
  color: #1c1c1c;
}

header ul li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

header ul li img {
  width: auto;
  height: 80px;
}

footer {
  background-color: black;
}

main .jumbo {
  background-image: url("/storage/images/jumbotron.jpg");
  height: 100px;
  background-size: cover;
}

main ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main ul li {
  list-style: none;
}

main ul li div.card {
  background-color: blueviolet;
}

main ul li div.card div img {
  height: 200px;
}

main ul li div.card a {
  color: white;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  color: white;
  font-family: "Dosis", sans-serif;
}

.center {
  width: 80%;
  margin: auto;
}

